* {
    margin: 0;
    padding: 0;
}

img {
    width: 636px;
    height: 379px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)
}

canvas {
    position: absolute;
    width: 636px;
    height: 379px;
    z-index: 1;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) 
}